{% extends 'base.html' %}
{% block content %}
    <form action=".">
        <input type="text" name="query" value="{{ query | default:'' }}">
        <input type="submit" value="Найти">
    </form>

    <h1>Мой блог</h1>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>
            {{ post.text | truncatewords:33 }}<br>
            <a href="{% url 'post_detail' post.id %}">Читать далее</a>
        </p>
        <p>
            {{ post.create_date }}
        </p>
    {% endfor %}
{% endblock %}
